.d1{
  background-color:red;
}
.d2{
  background-color:yellow;
}
.d3{
  background-color:green;
}
.d4{
  background-color:brown;
}
.d5{
  background-color:skyblue
}
.d6{
  background-color:orange
}.d7{
  background-color:grey
}.d8{
  background-color:purple
}
